<!DOCTYPE html>
<html>
<head>
    <title>Retirados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>CONSTRUCCIONES MANCIPE</h2>

    <a href="/dashboard">🏠 Dashboard</a>
    <a href="/busqueda">🔍 Búsqueda</a>
    <a href="/seguimiento">📊 Seguimiento</a>
</div>

<div class="main">
    <h1>❌ Retirados</h1>

    <p>Aquí podrás ver y gestionar los empleados retirados.</p>

</div>

</body>
</html>